#!/bin/bash

set -eufo pipefail

{{ $brews := list
     "age"
     "bat"
     "btop"
     "curl"
     "dockutil"
     "eza"
     "fd"
     "fzf"
     "gdu"
     "gh"
     "git"
     "git-lfs"
     "gnu-units"
     "gnupg"
     "go"
     "golangci-lint"
     "jless"
     "jq"
     "node"
     "openjdk"
     "pinentry-mac"
     "pkg-config"
     "ripgrep"
     "shellcheck"
     "wget"
     "xz" -}}
{{ $casks := list
     "1password-cli"
     "balenaetcher"
     "battery"
     "firefox"
     "ghostty"
     "hammerspoon"
     "spotify"
     "visual-studio-code"
     "vlc" -}}

brew bundle --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
