{{- if .onepasswordEnabled -}}
[user]
	name = {{   onepasswordRead (list "op://Dev/" .onepasswordNotes "/name" | join "") }}
	email = {{   onepasswordRead (list "op://Dev/" .onepasswordNotes "/email" | join "") }}
{{- end }}
