{{/* boolean feature tags */}}
{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $work := false -}}{{/* true if this machine is a work machine */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets */}}
{{- $wsl := false -}}{{/* true if this is running in windows subsystem for linux */}}
{{- "" -}}

{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
{{-     $wsl = true -}}
{{-     $headless = true -}}
{{   end }}
{{ end }}

{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, Multipass VMs, and Vagrant boxes */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "ubuntu" "vagrant" "vscode") -}}
{{-   $ephemeral = true -}}
{{-   $headless = true -}}
{{-   $wsl = false -}}
{{- end -}}

{{/* work around unreliable hostname on darwin */}}
{{- $hostname := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $hostname := output "scutil" "--get" "LocalHostName" | trim -}}
{{- end -}}

{{- if eq .chezmoi.os "windows" -}}
{{-   $ephemeral = true -}}
{{- end -}}

{{- if not $ephemeral -}}
{{-   if eq (trunc 5 $hostname) "EQDEV" -}}
{{-     $work = true -}}
{{-   else if stdinIsATTY -}}
{{-     $headless = promptBoolOnce . "headless" "headless" -}}
{{-     $ephemeral = promptBoolOnce . "ephemeral" "ephemeral" -}}
{{-   else -}}
{{-     $ephemeral = true -}}
{{-     $headless = true -}}
{{-   end -}}
{{- end -}}

{{ $name := "Tore Hammervoll" }}
{{ $email := "" }}
{{ if and stdinIsATTY (not $personal) }}
{{   $email = promptString "email" }}
{{ else }}
{{   $email = "hammervoll.tore@gmail.com" }}
{{ end }}

{{ $onepasswordEnabled := false }}
{{ if stdinIsATTY }}
{{   $onepasswordEnabled = true }}
{{ else if (env "OP_SERVICE_ACCOUNT_TOKEN ") }}
{{   $onepasswordEnabled = true }}
{{ end }}

sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
    ephemeral = {{ $ephemeral }}
    email = {{ $email | quote }}
    name = {{ $name | quote }}
    work = {{ $work }}
    headless = {{ $headless }}
    hostname = {{ $hostname | quote }}
    personal = {{ $personal }}
    osid = {{ $osID | quote }}
    wsl = {{ $wsl }}
    onepasswordEnabled = {{ $onepasswordEnabled }}
    zshPlugins = [
        "per-directory-history",
        "zsh-syntax-highlighting",
    ]

[github]
    refreshPeriod = "12h"

[onepassword]
    {{ if (env "OP_SERVICE_ACCOUNT_TOKEN") }}
    mode = "service"
    {{ else }}
    mode = "account"
    {{ end }}